:root {
    --primary: #dde7ff;
    --secondary: #e3fff9;
    --dark: #2c3e50;
    --light: #F3F3F3;
    --button: #45ca62;
    --button-hover: #27ae60;
}

  * {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

  /* Nav bar */
.page-heading {
    font-size: 2rem;
}
nav {
    color: var(--dark);
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
    width: 100%;
    position: fixed; /* Add fixed positioning */
    top: 0; /* Align to the top of the viewport */
    z-index: 1000; /* Ensure the nav bar stays on top of other content */
}

.nav-button {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    color: var(--light);  
    background-color: var(--dark);  
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--light);
}

.nav-button:hover {
    background-color: var(--light);
    border: 1px solid var(--dark);
    color: var(--dark);
}

.rules {
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 10px;
    margin-top: 41px;
}

.rules h2, h3, h4 {
    padding: 5px 20px 3px;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));    color: var(--dark);
    margin: 20px 0;

}

.rules p, ul, li {
    padding: 0 20px;
    margin: 0px 10px 15px;
}

.rules ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 4em;
}