*{
  color: #2c3e50;
  background-color: #ecf0f1;
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  
}

.pageHeading {
  color: #fff;
}

.how-to-play{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.how-to-play a{  
  border-radius: 6px;
  font-size: 1rem;
  background-color: #3498db;
  color: #fff;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:link, a:visited {
  background-color: #3498db;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #2ecc71;
}

h1{
  text-align: center;
  font-size: 3rem;
  background-color: #3498db;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4{
  font-size: 2rem;
  font-weight:normal;
  margin: 5px;
  background-color: #3498db;
}

.add-names{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin:15px;
  align-items: center;
  background-color: #3498db;
  border-radius: 5px;
  padding: 10px;
}

.add-names h2{
  background-color: #3498db;
  padding: 2px;
}

.name-input-container{
  background-color: #3498db;
}

.player-info{
  background-color: #3498db;
}

.name-input{
  font-size: 1rem;
  height: auto;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  padding: 2px;
}

.add-name-btn{
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #2ecc71;
  height: auto;
  font-size: 1rem;
  margin:5px;
  padding:4px;
}

.add-name-btn:hover{
  color: #fff;
  background-color: #27ae60;
}

.scoreboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:15px;
  border-radius: 5px;
}

.player-score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin:10px;
  align-items: center;
  background-color: #3498db ;
  border-radius: 5px;
}

.score-input{
  background-color: #3498db;
  margin-bottom: 10px;
}

.player-score div button{
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #2ecc71;
  height: auto;
  max-height: 50px;
  width: 30px;
  font-size: 2rem;
  margin-left: 5px;
}

.player-score button:hover{
  color: #fff;
  background-color: #27ae60;
}

.player-score input{
  font-size: 2rem;
  max-width: 60px;
  height: auto;
  max-height: 50px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #ecf0f1;
  caret-color: #2c3e50;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.player-score span{
  width: 100px;
  font-size: 4rem;
  background-color: #3498db;
}

.reset{
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  justify-content: center;
  margin-bottom: 10px;
}

#resetBtn{
  border: 0;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(214, 0, 0);
  height: auto;
  font-size: 2rem;
  margin:5px;
  padding:4px;
}

#resetBtn:hover{
  background-color: rgb(136, 23, 23);
}

.rules h2{
  font-size: 2.5rem;
  font-weight:bolder;
  padding: 5px;
  background-color: #d5e0fa;
}

.rules h3{
  font-size: 2rem;
  font-weight:bold;
  padding: 5px;
  background-color: #d5e0fa;
}

.rules h4{
  font-size: 1.5rem;
  font-weight:normal;
  padding: 5px;
  background-color: #d5e0fa;
}

.rules p{
  font-size: 1rem;
  font-weight:normal;
  padding: 5px;
  color: #383838;
}

.rules ul{
  list-style-position: inside;
}

.rules ul li{
  font-size: 1rem;
  font-weight:normal;
  padding: 5px;
  padding-left: 25px;
  color: #383838;
}

.rules{
  text-align: left;
  display: flex column;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;
  margin-top: 10px;
}